
<div class="card text-white bg-dark" id="note">
    <div id="name">
        <h5 class="card-header">
            <%=noteName%>
        </h5> 
    </div>
    <div class="card-body" id="content">
        <p class="card-header">
            <%=noteContent%>
        </p>
    </div>
    <div class="card text-white bg-dark" id="author">
        <p class="card-text text-white bg-dark">
            <%=author%>
        </p>
        <p class="card-text text-white bg-dark">
            <%=created%>
        </p>
    </div>
</div>
