<div class="card text-white bg-dark" id="edit-note">
    <div class="card-header text-white bg-dark">
        <input class="card-header text-white bg-dark" form="edit-note-form" name="name" id="note-name" value="<%=name%>">
        <input type="checkbox" class="btn-check" id="isPublic" autocomplete="on">
        <label class="btn btn-outline-secondary" for="isPublic">Public</label>
    </div>
    <div class="card-body">
        <textarea class="card-text text-white bg-dark" form="edit-note-form" name="content"><%=content%></textarea>
    </div>
    <button class="btn btn-secondary" form="edit-note-form">Save</button>
</div>

<form style="display: none;" action="/note/edit/<%=noteId%>" method="post" id="edit-note-form"></form>