

#register-form {
    margin-top: 20px;
}

#register-form div input {
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 100%);
}

#register-form button {
    margin-top: 10px;
    width: 100%;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 100%);
}