#nav {
    box-shadow: 0px 3px 2px 2px rgb(0 0 0 / 100%);
    height: 50px;
}

#navbarText {
    margin-left: 10px;
    margin-right: 10px;
}

#navbarText ul {
    width: 100%;
}

#log {
    margin-left: auto;
}

#moon {
    width: 24px;
    height: 24px;
}