#sidebar {
    min-width: min-content;
    position: fixed !important;
    right: 10px;
    top: 60px;
    width: 25vw;
    margin: 0px;
}

/* #sidebar a {
    margin: 0px;
    width: 25vw;
} */

#sidebar a span {
    width: 25vw;
    text-align: center;
}

#chats * {
    animation-name: rollIn;
    animation-duration: 0.5s;
}

.chat {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-rows: 25px 25px;
    grid-template-columns: 50px auto;
}

.chat * {
    text-decoration: none;
}

.profile {
    grid-area: 1 / 1 / 3 / 2;
    width: 30px;
    height: 30px;
    color: white;
}

.profile svg {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.chat-name {
    grid-area: 1 / 2 / 2 / 3;
    max-width: fit-content;
}

.chat-message {
    grid-area: 2 / 2 / 3 / 3;
    max-width: fit-content;
}

.chat-message h5 {
    font-size: 10px;
}

@keyframes rollIn {
    0% {
        height: 0px;
    }

    100% {
        height: min-conent;
    }
}